# just a simple workflow that clones repo with library and runs build.sh
name: Build
on: [workflow_dispatch]
jobs:
  build-windows-32:
    # The type of runner that the job will run on
    runs-on: windows-latest
    
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Runs a set of commands using the runners shell
      - name: Setup
        run: git clone https://github.com/LuaJIT/LuaJIT.git luajit -b v2.1.0-beta2

      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1

      - name: Build
        run: |
          cd luajit/src
          setenv /release /x86
          ./msvcbuild.bat static
          
      - uses: actions/upload-artifact@main
        with:
          name: luajit-windows
          path: luajit

  build-windows-64:
    # The type of runner that the job will run on
    runs-on: windows-latest
    
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Runs a set of commands using the runners shell
      - name: Setup
        run: git clone https://github.com/LuaJIT/LuaJIT.git luajit -b v2.1.0-beta2

      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1

      - name: Build
        run: |
          cd luajit/src
          setenv /release /x64
          ./msvcbuild.bat static
          
      - uses: actions/upload-artifact@main
        with:
          name: luajit-windows
          path: luajit

  build-linux-64:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Runs a set of commands using the runners shell
      - name: Setup
        run: |
          sudo apt update -y
          sudo apt upgrade -y
          sudo apt install make -y
          sudo apt install clang -y
          sudo apt install build-essential -y
          git clone https://github.com/LuaJIT/LuaJIT.git luajit -b v2.1.0-beta3
          
      - name: Build
        run: |
          cd luajit
          make
          
      - uses: actions/upload-artifact@v2
        with:
          name: luajit-linux
          path: luajit
