# just a simple workflow that clones repo with library and runs build.sh
name: Build
on: [workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [armeabi-v7a, arm64-v8a, x86, x86_64]

    steps:
      - name: Setup
        uses: actions/checkout@main
        run: |
          sudo apt install make -y
          sudo apt install clang -y
          sudo apt install build-essential -y
          sudo apt install zip -y
          sudo apt install gcc-multilib -y
          git clone https://github.com/LuaJIT/LuaJIT.git luajit -b v2.1.0-beta3
          sudo chmod -R 777 *

      - name: Setup Android NDK
        id: setup-ndk
        uses: nttld/setup-ndk@main
        with:
          ndk-version: r21e

      - name: Build
        run: ./mk-luajit.sh ${{matrix.arch}}

      - name: Upload
        uses: actions/upload-artifact@main
        with:
          name: luajit-${{matrix.arch}}
          path: luajit
